

@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: "../font/RobotoMono-Thin.ttf";
}

body{
  background-color: @background;
  color: @font_color;
  font-size: 12px;
  font-family: "Roboto Mono Light";
}
.appContainer{
    width: 100%;
}
