@font-face {
  font-family: "Roboto Mono Thin";
  src: "../font/Roboto Mono Thin.ttf";
}
@font-face {
  font-family: "Roboto Mono Light";
  src: "../font/Roboto Mono Light.ttf";
}
html{
  height: 100%;
  width: 100%;
}
body {
  background-color: @background;
  color: @font_color;
  font-size: 12px;
  font-family: "Roboto Mono Light";
  margin: 0px;
  height: 100%;
  width: 100%;
}
.appContainer {
  width: 100%;
}
#app{
  height: 100%;
}
.button {
  padding: 10px;
  border: 1px solid #212121;
}
.consoleWrapper{
  height: 100%;
}